body {
    background-image: url(Images/luke-chesser-img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    outline-style: dotted; outline-color: hsl(251, 100%, 25%); outline-width: 15px;
    margin: 100px 75px 25px 75px;
    color: rgb(255, 255, 255);
    font-style: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 88px;
}
h2 {
    margin: 10px 77px 10px 75px;
    color: #cdc7ff;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
}
h3 {
    margin: 20px 77px 20px 75px;
    color: #dde5f7;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
}
h4 {
    color: #bfeeff;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
}
p {
    margin: 10px 77px 10px 75px;
    color: #e5b7ff;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}
.small-text {
    color: #d2c2ff;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}
.link {
    color: #271035;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
}
.info-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    background-image: url(inforPNG.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.imgbyln {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #dde5f7;
    font-size: 20px;
}
.container {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    background: linear-gradient(128deg, #050733, #61a3ed);
}
.container .heading {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
}
.container .heading::before {
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(128deg, #61a3ed, #050733);
}
.container form .card-details {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .card-details .card-box {
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}
.card-details .card-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.card-details .card-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid salmon;
    padding: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
}
.card-details .card-box input:focus,
.card-details .card-box input:valid {
    border-color: #050733;
}
form .button {
    text-align: center;
}
form .button input{
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 50%;
    outline: #61a3ed;
    color: azure;
    border: 1px solid #61a3ed;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(128deg, #61a3ed, #050733);
}
form .button input:hover{
    background: linear-gradient(128deg, #050733b4, #61a2ed8b);
}

@media (max-width:584px){
    .container {
        max-width: 100%;
    }
    form .card-details .card-box {
        margin-bottom: 15px;
        width: 100%;
    }
}